@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --lightestpurple: #F3D5FF;
    --lightpurple: #EFCBFF;
    --darkpurple: #420C5A;
    --cyan: #00C0B5;
    --midpurple: #C189D9;
}

body {
    background-color: var(--lightpurple);
    font-family: 'Open Sans', sans-serif;
}
header {
    background-color: var(--lightestpurple);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
}
header a {
    text-decoration: none;
    color: var(--darkpurple);
    font-weight: bold;
    font-size: 1.2em;
}
header a:hover {
    text-decoration: underline;
}
section.sobre {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5vw;
}
div.grid1{
    display: flex;
    column-gap: 8vw;
}
div.img-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5vw;
}
div.perfil {
    margin: 30px;
}
div.link {
    display: flex;
    column-gap: 30px;
}
.link > a {
    text-decoration: none;
}
.buttonicon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--darkpurple);
    color: var(--lightpurple);
    padding: 5px 10px;
    border-radius: 30px;
    box-shadow: none;
    border: none;
    position: relative;
}
.buttonicon:hover {
    background-color: var(--cyan);
    color: var(--darkpurple);
    transition-duration: 0.2s
}
.buttonicon > div {
    width: 25px;
    height: 25px;
}
.buttonicon > p {
    font-size: 1.5em;
}
.icon1 {
    background-image: url(../imagens/github-50x50-claro.png);
    background-size: cover;
}
.buttonicon:hover .icon1{
    background-image: url(../imagens/github-50x50-escuro.png);
}
.icon2 {
    background-image: url(../imagens/linkedin-50x50-claro.png);
    background-size: cover;
}
.buttonicon:hover .icon2{
    background-image: url(../imagens/linkedin-50x50-escuro.png);
}
div.textual{
    background-color: var(--lightestpurple);
    border-radius: 20px;
    max-width: 450px;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
}

div.textual > h1{
    color: var(--darkpurple);
    margin-bottom: 6px;
}
div.textual > h2{
    color: var(--cyan);
    margin-bottom: 24px;
}
div.textual > p{
    color: var(--darkpurple);
    text-align: justify;
}
section h3 {
    color: var(--darkpurple);
    margin: 5vw 0 3vw 0;
}
.subtituloh3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.orgmanual {
    display: flex;
    justify-content: center;
    align-items: top;
    column-gap: 20px;
}
.manual {
    max-width: 300px;
    border-radius: 20px;
}
.manual h4{
    background-color: var(--lightestpurple);
    color: var(--darkpurple);
    text-align: center;
    padding: 10px 0;
    border-radius: 20px 20px 0 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
}
.manual p {
    background-color: var(--darkpurple);
    color: var(--lightpurple);
    text-align: justify;
    text-indent: 20px;
    padding: 15px;
    border-radius: 0 0 20px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
}
.automatizado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.org2{
    background-color: var(--darkpurple);
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
}
.org1 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}
.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--lightpurple);
    color: var(--darkpurple);
    padding: 8px 15px;
    border-radius: 30px;
}
.icone:hover {
    background-color: var(--midpurple);
    transition-duration: 0.5s
}
.icone img {
    width: 25px;
    height: 25px;
}
.flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.orgformacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.formacao {
    display: flex;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
    border-radius: 20px;
}
.formacao h4 {
    background-color: var(--darkpurple);
    color: var(--lightpurple);
    text-align: center;
    padding: 15px;
    border-radius: 20px 0 0 20px;
}
.curso {
    background-color: var(--lightestpurple);
    color: var(--darkpurple);
    text-align: left;
    max-width: 380px;
    padding: 10px 15px;
    border-radius: 0 20px 20px 0;
}
.curso h5 {
    font-weight: bold;
    font-size: 1.2em;
}
.alano {
    display: flex;
    justify-content: center;
    align-items: center;
}
.orgagil1 {
    display: flex;
    justify-content: center;
    align-items: top;
    column-gap: 20px;
}
.agil1 {
    max-width: 300px;
}
.agil1 h4 {
    background-color: var(--darkpurple);
    color: var(--lightpurple);
    text-align: center;
    padding: 10px 0;
    border-radius: 20px 20px 0 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
}
.agil1 p {
    background-color: var(--lightestpurple);
    color: var(--darkpurple);
    text-align: justify;
    text-indent: 20px;
    padding: 15px;
    border-radius: 0 0 20px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
}
.email1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#email {
    background-color: var(--lightestpurple);
    color: var(--darkpurple);
    max-width: 300px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
}
.orglink {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
footer {
    background-color: var(--darkpurple);
    color: var(--lightpurple);
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
}
footer a{
    text-decoration: none;
    color: var(--lightpurple);
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 720px) {
    #englishheader {
        gap: 20px;
        font-size: .9em;
    }
    header a {
        font-size: 1em;
    }
    div.grid1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap:  3vw;
    }
    div.perfil > img {
        max-width: 200px;
    }
    .buttonicon {
        transform: scale(0.8);
        transform-origin: center;
    }
    div.textual {
        transform: scale(0.8);
        transform-origin: center;
    }
    section h3 {
        margin: 5vw 0;
    }
    .subtituloh3 {
        text-align: center;
        margin-bottom: 2px;
        font-size: 0.9em;
    }
    .orgmanual {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .manual {
        transform: scale(0.8);
        transform-origin: center;
    }
    .org2 {
        transform: scale(0.8);
        transform-origin: center;
        row-gap: 10px;
    }
    .org1 {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .formacao {
        transform: scale(0.7);
        transform-origin: center;
    }
    .orgagil1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .agil1 {
        transform: scale(0.8);
        transform-origin: center;
    }
    #email {
        transform: scale(0.8);
        transform-origin: center;
    }
    footer{
        font-size: 0.8em;
    }
}
